@model FinansoApp.ViewModels.Transaction.AddTransactionViewModel

@{
    ViewData["Title"] = "Add Transaction";
    if (Model.TransactionDate == null || Model.TransactionDate == DateTime.MinValue)
    {
        Model.TransactionDate = DateTime.Now;
        Model.RecurringStartDate = DateTime.Now;
        Model.RecurringEndDate = DateTime.Now.AddMonths(1);
    }
}



@if (Model.Error.IsError())
{
    <div class="row">
        @if (Model.Error.InternalError)
        {
            <div class="col-md-12 alert alert-danger">
                <span>
                    <b>Sorry!</b> An error occurred while adding the transaction, please try again later
                </span>
            </div>
        }

        @if (Model.Error.GetDataInternalError)
        {
            <div class="col-md-12 alert alert-danger">
                <span>
                    <b>Sorry!</b> An error occurred while getting data from database, please try again later
                </span>
            </div>
        }

        @if (Model.Error.WrongData)
        {
            <div class="col-md-12 alert alert-danger">
                <span>
                    <b>Sorry!</b> Wrong data
                </span>
            </div>
        }
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "Please fix the following errors:")
    </div>
}


<form method="post">
    @Html.AntiForgeryToken()

    <a type="button" asp-action="Index" asp-controller="Transaction" class="btn btn-primary">Back</a>

    @if(Model.IsRecurring)
    {
        <div class="form-group">
            <input type="radio" name="RecurringType" value="Weekly" id="recurringweekly" /> <label for="recurringweekly">Weekly</label>
            <input type="radio" name="RecurringType" value="Monthly" checked="checked" id="recurringmonthly" /> <label for="recurringmonthly">Monthly</label>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="RecurringStartDate"></label>
            <input type="date" class="form-control" asp-for="RecurringStartDate">
            <span asp-validation-for="RecurringStartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="RecurringEndDate"></label>
            <input type="date" class="form-control" asp-for="RecurringEndDate">
            <span asp-validation-for="RecurringEndDate" class="text-danger"></span>
        </div>
    }

    <div class="form-group">
        <label class="control-label" asp-for="BalanceId"></label>
        <select class="form-control" asp-for="BalanceId" asp-items="Model.Balances">
        </select>
        <span asp-validation-for="BalanceId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="TransactionTypeId"></label>
        <select class="form-control" asp-for="TransactionTypeId" asp-items="Model.TransactionTypes">
        </select>
        <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
    </div>

    @if (!Model.IsRecurring)
    {
        <div class="form-group">
            <label class="control-label" asp-for="TransactionStatusId"></label>
            <select class="form-control" asp-for="TransactionStatusId" asp-items="Model.TransactionStatuses">
            </select>
            <span asp-validation-for="TransactionStatusId" class="text-danger"></span>
        </div>
    }

    <div class="form-group">
        <label class="control-label" asp-for="Description"></label>
        <input type="text" class="form-control" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Amount"></label>
        <input type="number" class="form-control" asp-for="Amount">
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    @if (!Model.IsRecurring)
    {
        <div class="form-group">
            <label class="control-label" asp-for="TransactionDate"></label>
            <input type="date" class="form-control" asp-for="TransactionDate">
            <span asp-validation-for="TransactionDate" class="text-danger"></span>
        </div>
    }
    
    <div class="form-group" id="expenseCategories">
        <label class="control-label" asp-for="TransactionExpenseCategoryId"></label>
        <select class="form-control" asp-for="TransactionExpenseCategoryId" asp-items="Model.TransactionExpenseCategories">
        </select>
        <span asp-validation-for="TransactionExpenseCategoryId" class="text-danger"></span>
    </div>

    <div class="form-group" id="incomeCategories">
        <label class="control-label" asp-for="TransactionIncomeCategory"></label>
        <select class="form-control" asp-for="TransactionIncomeCategory" asp-items="Model.TransactionIncomeCategories">
        </select>
        <span asp-validation-for="TransactionIncomeCategory" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>

</form>


@section Scripts {
    <script>
        $(document).ready(function() {

            function toggleTransactionCategories() {
                var selectedValue = $('#TransactionTypeId').val();
                if (selectedValue == 1) {
                    $('#expenseCategories').hide();
                    $('#incomeCategories').show();
                } else {
                    $('#expenseCategories').show();
                    $('#incomeCategories').hide();
                }
            }


            toggleTransactionCategories();

            $('#TransactionTypeId').change(function() {
                toggleTransactionCategories();
            });

        });
    </script>
}