@model int

@{
    ViewData["Title"] = "Confirm Delete";
}

<h2>Confirm Delete</h2>

<p>Are you <strong>REALLY</strong> sure you want to delete this group?</p>
<p>
    All following informations will be LOST:
    <ol>
        <li>Group balances</li>
        <li>Group transactions</li>
        <li>Balance history</li>
    </ol>
</p>

<form asp-action="DeleteGroupConfirmed" method="post">
    <input type="hidden" name="id" value="@Model" />
    <button type="submit">Yes, delete it</button>
    <a asp-action="Index">No, take me back</a>
</form>
