@using FinansoApp.ViewModels
@model GroupCreateViewModel

@{
    ViewData["Title"] = "Create group";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>
        @if (TempData["InternalError"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>
                    <b>Sorry!</b> An error occurred while creating group, please try again later
                </span>
            </div>
        }
        @if (TempData["MaxGroupsLimitReached"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>
                    <b>Sorry!</b> You reached max groups limit
                </span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float right" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" asp-controller="Group" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
