@using FinansoApp.ViewModels
@model ListMembersViewModel

@{
    ViewData["Title"] = "Group members";
}


<div class="container">
    @foreach (var i in Model.GroupMembers)
    {
        <div class="row">
            <div class="col">@i.FirstName @i.LastName</div>
            @if(Model.IsOwner && !i.IsOwner) 
            {
            <div class="col">
                    <a class="btn btn-outline-secondary" asp-controller="Group" asp-action="DeleteGroupUser" asp-route-id="@i.GroupUserId">Remove</a>
            </div>
            }
            
        </div>

    }
</div>
