@using FinansoData.DataViewModel.Group
@model List<GetUserGroupsViewModel>

<a type="button" class="btn btn-secondary mb-1" asp-action="Create" asp-controller="Group">New group</a>


@foreach (var i in Model)
            {
    <h2>@i.Name</h2>
    <p>Members: <bold>@i.MembersCount</bold></p> 
    @if(i.IsOwner){
        <a type="button" class="btn btn-secondary mb-1" asp-action="DeleteGroup" asp-controller="Group" asp-route-id="@i.Id">DeleteGroup</a>
    }
    <a type="button" class="btn btn-secondary mb-1" asp-action="EditMembers" asp-controller="Group" asp-route-id="@i.Id">Members</a>
    
    
}