@using ChartJSCore.Models
@using FinansoApp.ViewModels.Balance
@using System.Globalization
@model SetBalanceAmountViewModel


@{
    ViewData["Title"] = "Create group";

    Chart balanceLogsBarChart = (Chart)ViewData["BalanceMonthlyLog"];
}

@section Head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Set balance amount</h4>
        </p>
        @if (Model != null && Model.Error.IsError())
        {
            @if (Model.Error.InternalError)
            {
                <div class="col-md-12 alert alert-danger">
                    <span>
                        <b>Sorry!</b> An error occurred while creating group, please try again later
                    </span>
                </div>
            }

        }


        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="SetBalanceAmount">
                    <input asp-for="BalanceId" type="hidden" />
                    @Model.BalanceName / @Model.GroupName
                    <div></div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        
                        @{
                            if(Model.IsCrypto)
                            {
                                <input asp-for="Amount" class="form-control" value="@Model.Amount.ToString("F8")">
                            }
                            else 
                            {
                                <input asp-for="Amount" class="form-control">
                            }
                        }
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float right" type="submit" value="Save" />
                        <a class="btn btn-outline-secondary" asp-controller="Balance" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <canvas id="balanceLogsBarChart"></canvas>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        @Html.Raw(balanceLogsBarChart.CreateChartCode("balanceLogsBarChart"));
    </script>

    <!-- Change . to , -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const amountInput = document.querySelector('[name="Amount"]');
            if (amountInput) {
                amountInput.addEventListener('input', () => {
                    amountInput.value = amountInput.value.replace('.', ',');
                });
            }
        });
    </script>
}



